body {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/mapBG.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.seeds-btn {
    width: 11vw;     /* Width adjusts based on the viewport width */
    height: auto;    /* Maintain aspect ratio */
    cursor: pointer; /* Makes it clickable */
    position: absolute;  /* Positioned relative to the page, not fixed */
    top: 80%;        /* Distance from top of the page */
    left: 25%;       /* Distance from the left of the page */
    z-index: 1000;    /* Ensures it's on top of other content */
    opacity: 70%;
}
.fork-btn {
    width: 11vw;     /* Width adjusts based on the viewport width */
    height: auto;    /* Maintain aspect ratio */
    cursor: pointer; /* Makes it clickable */
    position: absolute;  /* Positioned relative to the page, not fixed */
    top: 70%;        /* Distance from top of the page */
    left: 75%;       /* Distance from the left of the page */
    z-index: 1000;    /* Ensures it's on top of other content */
    opacity: 100%;
}
.Tree-btn {
    width: 25vw;     /* Width adjusts based on the viewport width */
    height: auto;    /* Maintain aspect ratio */
    cursor: pointer; /* Makes it clickable */
    position: absolute;  /* Positioned relative to the page, not fixed */
    top: 50%;        /* Distance from top of the page */
    left: 0;       /* Distance from the left of the page */
    z-index: 1000;    /* Ensures it's on top of other content */
    opacity: 100%;
}
.barn-btn {
    width: 15vw;     /* Width adjusts based on the viewport width */
    height: auto;    /* Maintain aspect ratio */
    cursor: pointer; /* Makes it clickable */
    position: absolute;  /* Positioned relative to the page, not fixed */
    top: 40%;        /* Distance from top of the page */
    left: 70%;       /* Distance from the left of the page */
    z-index: 1000;    /* Ensures it's on top of other content */
    opacity: 100%;
}