body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Exit Button */
.exit-btn {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 500px;
    height: 500px;
    cursor: pointer;
}

/* Progress Bar */
.progress-container {
    width: 80%;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 5px;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid black; 
}


.progress-bar {
    height: 100%;
    background-color: #4caf50;
    width: 60%;
}

/* Main Content Layout (Image + Question Box) */
.content {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
}

/* Image Styling */
.image-container img {
    width: auto;
    height: 750px;
    border: none !important;
    border-radius: 15px;
}

/* Question Box */
.question-box {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 40px;
    width: 700px;
    min-height: 500px;
    text-align: center;
    border: 10px solid black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: none; 
    max-height: 400px;
    overflow: hidden;
}

.question-box p {
    font-size: 46px; /* Change this size as needed */
    font-weight: bold;
    line-height: 1.5;
}


/* Sound Button */
.sound-btn {
    width: 500px;
    height: 500px;
    cursor: pointer;
    margin-top: 10px;
    
}

.question-answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; /* Adjust the gap between the question box and answers */
}

/* Answer Choices */
.answers {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between the answer buttons */
}

.answer-btn {
    font-size: 100px;
    padding: 5px 80px;
    border: 10px solid #000;
    border-radius: 40px;
    cursor: pointer;
    background-color: #d9d9d9;
    color: #000;
    font-weight: bold;
}

/* Continue Button */
.continue-btn {
    margin-top: 150px;
    font-size: 30px;
    padding: 5px 70px;
    border-radius: 40px;
    border: 5px solid #2196f3;
    background-color: #ffffff;
    cursor: pointer;
    color: #2196f3;
    font-weight: 400; 

}


